sources:
  auth_logs:
    type: file
    include: 
      - /var/log/auth.log
    read_from: end
sinks:
  clickhouse:
    type: clickhouse
    inputs: 
      - auth_logs
    endpoint: "http://localhost:8123"
    database: "{{ database }}"
    table: "{{ table }}"
    skip_unknown_fields: true

